<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>04 JS Templates</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/grid.css">
	<link rel="stylesheet" href="css/style.css">
  <script src="libs/jquery.js"></script>
  <script src="libs/underscore.js"></script>
  <script src="libs/dust.js"></script>
  <script src="libs/handlebars.js"></script>
  <script src="app/app.js"></script>
</head>
<body>
<header></header>
  <div class="container">
    <div class="column third">
        <div id="handleDiv"></div>
    <script type="text/x-handlebars-template" id="handlebars">
      {{#values}}
        <span>Handlebars</span>
        <div class="row clearfix">
          <img src={{img}} alt="img"/>
        </div>
        <div class="row clearfix">
          <h1>{{firstName}} {{lastName}}</h1>
        </div>
        <div class="row clearfix info">
          <h3>Living in:</h3>
          <p>{{livingIn}}</p>
          <h3>Latest Jobs:</h3>
          <p>{{#jobs}} {{occupation}} @ {{job}} {{/jobs}}</p>
          <h3>Education:</h3>
          <p class="education">{{education}}</p>
          <h3>Hobbies:</h3>
          <p>{{hobby}}</p>
        </div>
      {{/values}}
    </script>
    </div>
    <div class="column third">
        <div id="underDiv"></div>
      <script type="text/template" id="underscore">
        <% var i; for(i=0; i<values.length;i++) { %>
          <%var value = values[i];%>
            <span>Underscore</span>
            <div class="row clearfix">
              <img src=<%=value.img%> alt="img"/>
            </div>
            <div class="row clearfix">
              <h1><%=value.firstName%> <%=value.lastName%></h1>
            </div>
            <div class="row clearfix info">
              <h3>Living in:</h3>
              <p><%=value.livingIn%></p>
              <h3>Latest Jobs:</h3>
              <p>
              <%var j;%>
              <% for(j=0;j<value.jobs.length;j++) {%>
                <%=value.jobs[j].occupation%> @ <%=value.jobs[j].job%>
              <%}%>
              </p>
              <h3>Education:</h3>
              <p class="education"><%=value.education%></p>
              <h3>Hobbies:</h3>
              <p><%=value.hobby%></p>
            </div>
          <%}%>
        </script>
    </div>
    <div class="column third">
        <div id="dustDiv"></div>
      <script type="text/template" id="dust">
      {#values}
        <span>Dust</span>
        <div class="row clearfix">
          <img src={img} alt="img"/>
        </div>
        <div class="row clearfix">
          <h1>{firstName} {lastName}</h1>
        </div>
        <div class="row clearfix info">
          <h3>Living in:</h3>
          <p>{livingIn}</p>
          <h3>Latest Jobs:</h3>
          <p>{#jobs} {occupation} @ {job} {/jobs}</p>
          <h3>Education:</h3>
          <p class="education">{education}</p>
          <h3>Hobbies:</h3>
          <p>{hobby}</p>
        </div>
      {/values}
      </script>
    </div>
  </div>
</body>
</html>